[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User=kwkun
Group=kwkun
ExecStart=/usr/local/bin/cloudflared tunnel run
WorkingDirectory=/home/kwkun
Environment="HOME=/home/kwkun"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
